---

import "./inventory-card.css"

interface Props {
    title: string;
    image: string;
    link: string;
    description: string;
    category: string;
}

const { title, image, link, description, category } = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer" class="inventory-card intro-in">
    <div class="inventory-card_image-container">
        <img src={image} alt={title} class="inventory-card_image" />
    </div>
    <div class="inventory-card_content">
        <div>
            <p>{title}</p>
            <p class="text-color-muted text-size-xsmall">{description}</p>
        </div>

        <p class="text-color-muted" style="flex-shrink: 0;">
            {category}
        </p>
    </div>
</a>