---
import { VisualEditing } from "@sanity/astro/visual-editing";
import "../styles/index.css";
import Nav from "../components/Nav/index.astro";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
  type?: string;
}

const {
  title = "Liam Mews",
  description = "Designer, developer, Webflow Project Lead @ MakeBuild.",
  image = "/favicon.svg",
  url = Astro.url.href,
  type = "website"
} = Astro.props;

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Privacy-friendly analytics by Plausible -->
    <script async src="https://plausible.io/js/pa-jpfgnMUuOUjofkJgMj5R6.js"></script>
    <script>
      window.plausible=window.plausible||function(){(window.plausible.q=window.plausible.q||[]).push(arguments)},window.plausible.init=window.plausible.init||function(i){window.plausible.o=i||{}};
      window.plausible.init()
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    
    <!-- Additional SEO -->
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Liam Mews" />
    <link rel="canonical" href={url} />
  </head>
  <Nav>
    <slot name="nav" />
  </Nav>
  <body>
    <slot />
    <VisualEditing enabled={visualEditingEnabled} />
  </body>
</html>